<div layout="row" layout-align="start start" layout-padding layout-margin layout-fill>

<md-content layout="column" layout-align="start start" flex="30">
  <md-card layout-fill >
    <md-card-content layout-margin layout-padding>
      <md-list layout="column" layout-align="start start" layout-padding layout-margin>
        <md-list-item ng-repeat="user in userList" layout="column" layout-fill layout-margin layout-padding>
          <div layout="row" layout-align="space-between start">
            <h3 class="">
              {{user.name}}
            </h3>
            <div>
              <md-button class="md-fab md-mini" aria-label="Pictures">
                <i class="fa fa-camera"></i>
                <md-tooltip>View Pictures</md-tooltip>
              </md-button>

              <md-button class="md-fab md-mini" aria-label="comments" ng-click="getPosts(user.id)">
                <i class="fa fa-comment"></i>
                <md-tooltip>View Posts</md-tooltip>
              </md-button>
            </div>
          </div>
          <div layout="column" layout-align="start start">
            <span class="md-caption">
              <i class="fa fa-envelope"></i>
              {{user.email}}
            </span>
            <span class="md-caption">
              <i class="fa fa-phone "></i>
              {{user.phone}}
            </span>
          </div>
          <md-divider></md-divider>

        </md-list-item>
      </md-list>
    </md-card-content>
  </md-card>
</md-content>


<md-content  layout="row" layout-align="start start" flex="70">
  <md-card>
    <md-card-content layout-margin layout-padding>
      <md-tabs class="md-accent" md-selected="selectedIndex" style="overflow:hidden">
        <md-tab ng-repeat="page in pagination" label="{{page.currentPage}}">
          <md-list layout="column" layout-align="start start" layout-padding layout-margin layout-fill>
            <md-list-item ng-repeat="post in postList[selectedIndex]" layout="column" layout-fill>

              <md-whiteframe class="md-whiteframe-z2" layout="column"  layout-padding layout-margin>
                <md-item-content layout="column" layout-align="start start" layout-padding layout-margin>
                  <div flex>
                    <h3 class="md-title">
                      {{post.title}}
                    </h3>
                    <p class="md-body-1">
                      {{post.body}}
                    </p>
                    <md-button class="md-fab md-mini" aria-label="comments" ng-click="getComments(post)">
                      <i class="fa fa-comments-o fa-lg"></i>
                      <md-tooltip>View Comments</md-tooltip>
                    </md-button>
                  </div>
                </md-item-content>
                <!-- comments tab starts here -->
                <md-card>
                <md-tabs  md-selected="selectedIndex" class="md-accent" style="overflow:hidden" >
                  <md-tab ng-repeat="page in pageList"  label="{{page.currentPage}}">
                  <md-list layout="column" layout-align="start start" layout-padding layout-margin>
                    <md-list-item ng-repeat="comment in commentList[0]" layout="column" layout-fill>
                      <md-whiteframe class="md-whiteframe-z3" layout="column" layout-padding layout-margin>
                        <md-item-content layout="column" layout-align="start start" layout-padding layout-margin>
                        <div flex>
                          <p>
                            {{comment.name}}
                          </p>
                          <p>
                            {{comment.body}}
                          </p>
                        </div>
                      </md-item-content>
                      </md-whiteframe>
                    </md-list-item>
                  </md-list>
                  <md-tab>
                </md-tabs>
              </md-card>

              </md-whiteframe>

            </md-list-item>
          </md-list>
        </md-tab>
      </md-tabs>
      <md-card-content>
  </md-card>
<md-content>

</div>
