<md-content  layout="row" layout-align="start start" flex="65" layout-fill layout-margin layout-padding>
  <md-card layout-fill>
      <md-tabs class="md-accent" md-selected="selectedIndex" md-dynamic-height>
        <md-tab ng-repeat="page in vm.posts.pagination" label="{{page.currentPage}}">
          <md-list layout="column" layout-align="start start" layout-padding layout-margin layout-fill>
            <md-list-item ng-repeat="post in vm.posts.list[selectedIndex]" layout="column" layout-align="start start" layout-fill>
              <view-post post="post"></view-post>

            </md-list-item>
          </md-list>
        </md-tab>
      </md-tabs>
  </md-card>
<md-content>
